#body {
  text-align: center;
  display: inline-flex;
}

#paste {
  margin-top: 1%;
}

.navbar {
  font-size: 20px;
}

#home {
  margin-left: 15%;
}

#archive {
  float: right;
  margin-right: 15%;
}

#show {
  text-align: center;
  margin-left: 47%;
}

#pastes {
  border: solid grey 1px;
  border-bottom: 0px;
}

.paste {
  border-bottom: solid grey 2px;
}
